<ion-view view-title="About Us">
  <ion-content>
    <div class="customFont"> Group members</div>
    <div class="list">

      <div class="item item-divider">
        Instructor
      </div>

      <list class="item item-avatar" href="#">
        <img src="img/pic6.jpg">
        <h2>Alex Aravind</h2>
        <p>Instructor
          <br>
          Hello! I am instructor of CPSC 499!!
        </p>
      </list>

      <div class="item item-divider">
        Scrum Master
      </div>

      <list class="item item-avatar" href="#">
        <img src="img/pic5.jpg">
        <h2>Raja Gunasekaran</h2>
        <p>Scrum Master of the project
          <br>
          Hello! My name is Raja!
        </p>
      </list>

      <div class="item item-divider">
        Members Name
      </div>

      <list class="item item-avatar" href="#">
        <img src="img/pic2.jpg">
        <h2>Edward Greenop</h2>
        <p>UNBC student
          <br>
          Hello! My name is Edward!
        </p>
      </list>

      <list class="item item-avatar" href="#">
        <img src="img/pic1.jpg">
        <h2>Lee Callaghan</h2>
        <p>UNBC student
          <br>
          Hello! My name is Lee!
        </p>
      </list>

      <list class="item item-avatar" href="#">
        <img src="img/pic0.jpg">
        <h2>Mike Drakos</h2>
        <p>UNBC student
          <br>
          Hello! My name is Mike!
        </p>
      </list>

      <list class="item item-avatar" href="#">
        <img src="img/pic3.jpg">
        <h2>Shea Zsombor</h2>
        <p>UNBC student
          <br>
          Hello! My name is Shea!
        </p>
      </list>

      <list class="item item-avatar" href="#">
        <img src="img/pic4.jpg">
        <h2>Won Woo Song</h2>
        <p>UNBC student
          <br>
          Hello! My name is Won!
        </p>
      </list>

    </div>


  </ion-content>
</ion-view>
