<ion-view view-title="Contact Us">
  <ion-content padding="false">
    <div class="list card">
      <div class="item item-divider">
        <h1>PGTransit App</h1>
      </div>

      <div class="item">
        This App is a student project,<br>
        by the CPSC499 class of 2016<br>
        and is in no way associated with<br>
        BC Transit Corporation<br>
        <br>
        <button class="button button-balanced" id="feedbackBtn">
          Send App Feedback
        </button>
        <br>
      </div>

      <div class="item item-divider">
        <h1>BCTransit Service Info</h1>
      </div>
      <div class="item">
        <b>Phone:</b> <a ng-href="tel:+1-250-563-0011">250-563-0011</a><br>
        <b>Fax:</b> 250-564-4901<br>
        <b>Web:</b> <a ng-href="http://bctransit.com/prince-george/" target="_blank">bctransit.com</a><br>
        <b>Address:</b> 1041 Great Street, Prince George, BC V2N 2K8
      </div>
    </div>
  </ion-content>
</ion-view>