<ion-view view-title="Credits">
  <ion-content>
    <ul class="list">

      <a class="item item-thumbnail-left" href="#" onclick="window.open('http://ionicframework.com/', '_system',
       'location=yes'); return false;">
        <img src="img/ionic.png">
        <h2>Ionic Framework</h2>
        <p>...</p>
      </a>

      <a class="item item-thumbnail-left" href="#" onclick="window.open('https://angularjs.org/', '_system',
       'location=yes'); return false;">
        <img src="img/credits/angular.png">
        <h2>AngularJS</h2>
        <p>By Google</p>
      </a>

      <a class="item item-thumbnail-left" href="#" onclick="window.open('http://openweather.org/', '_system',
       'location=yes'); return false;">
        <img src="img/credits/openweather.png">
        <h2>openweather.org</h2>
        <p>Weather API</p>
      </a>

      <a class="item item-thumbnail-left" href="#" onclick="window.open('https://www.pexels.com/', '_system',
       'location=yes'); return false;">
        <img src="img/credits/pexels.jpg">
        <h2>Pexels</h2>
        <p>Free stock photos</p>
      </a>

      <a class="item item-thumbnail-left" href="#" onclick="window.open('https://mixpanel.com/', '_system',
       'location=yes'); return false;">
        <img src="img/credits/mixpanel.png">
        <h2>Mixpanel</h2>
        <p>Analytics</p>
      </a>

      <a class="item item-thumbnail-left" href="#" onclick="window.open(
          'https://github.com/jianwu-github/ionic-openweather-app', '_system','location=yes'); return false;">
        <img src="img/credits/github.png">
        <h2>Ionic Open Weather App</h2>
        <p>Jian Wu</p>
      </a>

      <a class="item item-thumbnail-left" href="#" onclick="window.open('https://codepen.io/shengoo/pen/bNbvdO/',
      '_system', 'location=yes'); return false;">
        <img src="img/credits/codepen.png">
        <h2>Ionic collapsible list</h2>
        <p>Qing Sheng</p>
      </a>

    </ul>
  </ion-content>
</ion-view>
