<ion-view view-title="My Current Location">
  <ion-content class="has-header">
    My current coordinates should be listed under:
    <div ng-controller="CurrentLocationCtrl">
      <td>{{lat}}</td>
      <td>{{long}}</td>

    </div>
    <p>And your close bus stops are:</p>

    <div data-ng-controller="stopCtrl">
        <div data-ng-repeat="s in co" ng-if="s.stop_lat >= (lat + 0.05) &&
        s.stop_lat >= (lat - 0.05) && s.stop_lon <= (long + 0.05)
        && s.stop_lon <= (long - 0.05)">

          <td>{{s.stop_name}}</td>

        </div>

    </div>
  </ion-content>
</ion-view>
