<ion-view view-title="Fares">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                <div class="b"> Adult</div>
            </div>
            <list class="item item-avatar" href="#">
                <img src="img/a.png">
                <p>CASH FARE:&nbsp&nbsp&nbsp$2.50</p>
                <p>10 TICKETS:&nbsp&nbsp&nbsp$22.50</p>
                <p>DAY PASS:&nbsp&nbsp&nbsp$6.25</p>
                <p>MONTHLYPASS:&nbsp&nbsp&nbsp$57.50</p>
            </list>



            <div class="item item-divider">
                <div class="b">  Senior(65 and up)</div>
            </div>
            <list class="item item-avatar" href="#">
                <img src="img/senior.png">
                <p>CASH FARE:&nbsp&nbsp&nbsp$2.00</p>
                <p>10 TICKETS:&nbsp&nbsp&nbsp$18.00</p>
                <p>DAY PASS:&nbsp&nbsp&nbsp$5.25</p>
                <p>MONTHLYPASS:&nbsp&nbsp&nbsp$48.00</p>
                <p>SEMESTER PASS:&nbsp&nbsp&nbsp$125.00</p>

            </list>


            <div class="item item-divider">
                <div class="b"> Child(4 and under)</div>
            </div>
            <list class="item item-avatar" href="#">
                <img src="img/child.png">
                <p>FREE WHEN ACCOMPANIED BY AN ADULT</p>

            </list>


            <div class="item item-divider">
                <div class="b">Handydart</div>
            </div>
            <list class="item item-avatar" href="#">
                <img src="img/handydart.png">
                <p>PASSENGER:&nbsp&nbsp&nbsp$2.50</p>
                <p>FRIEND:&nbsp&nbsp&nbsp$2.50</p>
                <p>ATTENDANT:&nbsp&nbsp&nbspFREE</p>
            </list>


</div>

    </ion-content>
</ion-view>
