<ion-view view-title="Favourites">
	<ion-content>
		<ion-list ng-repeat="item in favs">
            <ion-item  ng-click="goToFav(item)">
                <button class="button icon-left ion-close-circled button-clear button-dark" ng-click="removeItem(item); $event.stopPropagation();"></button>
                <div class="routeEntry">
                    {{item.route_short_name + '-' + item.route_long_name}}
                </div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>