<ion-view view-title="Home" ng-init="checkWeather()" cache-view="false">
  <ion-content style="background-repeat:no-repeat; background-image:url('img/w/00.jpg'); background-size:100% 100%;">
    <div class="homeWeather"
         style="background-image:url({{getBackground(weather.weather[0].icon)}});">
      <div class="row weatherItem">
        <div class="col-50">
          <h1>{{hour[time.getHours()]}}:{{minutes()}} {{ampm()}}</h1>
          <h4>{{day[time.getDay()]}}, {{month[time.getMonth()]}} {{time.getDate()}}</h4>
        </div>
        <div class="col-30">
          <h1>{{weather.main.temp}}&deg;C</h1>
        </div>
        <div class="col-30">
          <div class="right"><img src="{{getIconUrl(weather.weather[0].icon)}}"/></div><br>
          <div class="right">{{weather.weather[0].description}}</div>
        </div>
      </div>
    </div>


    <div ng-controller="favouritesCtrl">
      <ion-list class="favourites">
        <div class="header">
          <ion-item class="item-icon-right" style="background: #f8ba24;" ng-click="toggleFavs()" ng-class="{active: isFavsShown()}">
            Favourites
            <i class="icon" ng-class="!isFavsShown() ? 'ion-plus' : 'ion-minus'"></i>
          </ion-item>
        </div>

        <ion-item class="item-accordion" ng-repeat="item in favs" ng-click="goToFav(item)" ng-show="isFavsShown()">
            {{item.route_short_name + '-' + item.route_long_name}}
          </ion-item>

        <!-- Empty Favourites -->
        <ion-item class="item-accordion" ng-if="favs.length==0" ng-show="isFavsShown()">
          No Favourited Routes Yet
        </ion-item>

        </ion-list>
      </ion-list>
    </div>

    <ion-list class="nearMe">
      <div class="header">
        <ion-item class="item-icon-right" style="background:#f8ba24;" ng-click="toggleNear()" ng-class="{active: isNearShown()}">
          Stops Near Me
          <i class="icon" ng-class="!isNearShown() ? 'ion-plus' : 'ion-minus'"></i>
        </ion-item>
      </div>

      <ion-item class="item-accordion" ng-repeat="stop in nearBy" ng-click="goToNear()" ng-show="isNearShown()">
        {{stop.stop_name}}
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>