<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="">
    <ion-header-bar class="bar-stable bar-positive">
      <img src="img/logo.png">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/schedule">
          Schedules
        </ion-item>
        <ion-item menu-close href="#/app/fares">
          Fares
        </ion-item>
        <ion-item menu-close href="#/app/favourites">
          Edit Favourites
        </ion-item>
        <ion-item menu-close href="#/app/map">
          Map page
        </ion-item>
        <ion-item menu-close href="#/app/nearMeLoad">
          Near Me
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          Contact Us
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item menu-close href="#/app/welcome">
          Welcome Page Testing
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
