<ion-view view-title="Routes">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="route in routes" ng-click = "setRoute(route.route_id)" on-hold="editFavourite(route)">
        <div class="item item-button-right">
          <button class="button icon ion-star button-clear button-energized" ng-click="editFavourite(route); $event.stopPropagation();"></button>
          <div class="routeEntry">
            <div class="routeNumberCircle">
              {{route.route_short_name}}
            </div>
            {{route.route_long_name}}
          </div>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
