<ion-view view-title="Routes">
  <ion-content class="has-header">

    <ion-list ng-repeat="route in routes">

      <ion-item class="item-icon-right" ng-click="setRoute(route.route_id)" on-hold="routeOnHold(route)">

        <div class="routeEntry">
          <div class="routeNumberCircle">
            {{route.route_short_name}}
          </div>
          {{route.route_long_name}}
        </div>
        <button class="button button-clear icon" ng-click="editFavourite(route); $event.stopPropagation();"
                ng-class="hasFav(route) ? 'ion-android-star button-energized' : 'ion-android-star-outline button-light'"></button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>