<ion-view view-title="Route {{routeName}}">
  <!-- Title Navigation Buttons-->
  <ion-nav-buttons side="right">
    <button class="button button-light button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Back
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader" style="padding:0;border:0;">
    <div class="button-bar">
      <a class="button button-active">Route</a>
      <a class="button button-positive">Schedule</a>
      <a class="button button-positive" ng-click="gotoMap()">Map View</a>
    </div>
  </div>

  <ion-content class="has-subheader">
    <div id="map" data-tap-disabled="true" style="width:100%;height:30%"></div>

    <ion-list ng-repeat="c in newStopList">
      <ion-item href="#app/stop" ng-click="setStop(c.stop_id)">
        {{c.stop_name}}
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
