<ion-view view-title="Route {{routeName}}">
  <!-- Title Navigation Buttons-->
  <ion-nav-buttons side="right">
    <button class="button button-light button-clear no-animation" ng-click="gotoMap()">
      Map View
    </button>
    <button class="button button-light button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Back
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list ng-repeat="c in filteredStops">
      <ion-item>
        <ion-item href="#app/stop" ng-click="setStopID(c.stop_id)">
          {{c.stop_name}}
        </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
