<ion-view view-title="Schedules" cache-view="false">
  <ion-content class="has-header">

    <ion-list ng-repeat="route in routes">

      <ion-item class="item-icon-right" ng-click="setRoute(route);" on-hold="routeOnHold(route)">

        <div class="routeEntry">
          <div class="routeNumberCircle">
            <div class="routeNumberText" ng-if="route.route_short_name>0">{{route.route_short_name}}</div>
            <div class="routeNumberText" ng-if="route.route_short_name.length>0">{{route.route_short_name.substring(0,4)}}</div>
          </div>
          {{route.route_long_name}}
        </div>

        <div class="icon" ng-click="editFavourite(route); $event.stopPropagation();"
          ng-class="hasFav(route) ? 'energized ion-android-star' : 'ion-android-star-outline'">
        </div>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>