<ion-view view-title="Settings">
    <ion-content>
      <h1>Settings</h1>
        <div class="list">

          <h2>About Us</h2><a/></a><a href="http://aboutUs.html">
          <h2>Invite to PG Transit</h2>
          <a href="http://twitterLink.html"><h2>Twitter Link</h2><a/>
          <a href="http://facebookLink.html"><h2>Facebook Link</h2><a/>
          <a href="http://txtMsg.html"><h2>Text message link</h2><a/>
          <a href="http://emailLink.html"><h2>Email link</h2><a/>
          <a href="http://premium.html"><h2>Premium Options</h2><a/>
          <a href="http://feedBack.html"><h2>Feedback</h2><a/>

        </div>
    </ion-content>
  </ion-view>


