<ion-view view-title="Settings">

  <ion-content>

    <div class="list">
      <ion-toggle
              ng-model="pushNotification.checked"
              ng-change="pushNotificationChange()"
              toggle-class="toggle-positive">
        Enable Notifications
      </ion-toggle>

      <ion-toggle
              ng-model="GPS.checked"
              ng-change="enableLocationChange()"
              toggle-class="toggle-positive"
              id = "locationAccess">
        Enable Location Access
      </ion-toggle>
    </div>

    <div class="text-center" ng-controller="LocationSettings">
      <button class="button button-positive" ng-click="getLocation()">
        Open Location Settings
      </button>
    </div>

    </div>
  </ion-content>
</ion-view>


