<ion-view view-title="Weather" ng-init="checkWeather()">
  <ion-content>
    <div class="list card">

      <h1>Current Weather</h1>
      <div class="item item-thumbnail-left">
        <img src="{{getIconUrl(weather.weather[0].icon)}}"/>
        <h1>{{weather.weather[0].main}}</h1>
        <h2>{{weather.weather[0].description}}</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
        <h2>Temperature: {{weather.main.temp}}&deg;</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-shuffle"></i>
        <h2>Wind: {{weather.wind.speed}}mph, {{getDirection(weather.wind.deg)}}</h2>
      </div>

      <h1>Forecast</h1>
      <div class="item item-thumbnail-left">
        <img src="{{getIconUrl(forecast.list[0].weather[0].icon)}}"/>
        <h1>{{forecast.list[0].weather[0].main}}</h1>
        <h2>{{forecast.list[0].weather[0].description}}</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
        <h2>Temperature: {{forecast.list[0].main.temp}}&deg;</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-shuffle"></i>
        <h2>Wind: {{forecast.list[0].wind.speed}}mph, {{getDirection(forecast.list[0].wind.deg)}}</h2>
      </div>

    </div>
  </ion-content>
</ion-view>